MONGO_URI=mongodb+srv://bijayakingring00_db_user:T8T1KYIJGJB2J4GH@e-commerce.lswq8bw.mongodb.net/?appName=E-COMMERCE
CLOUDINARY_URL=cloudinary://164594378718148:YnAmZKwnNV2wx8T2djJFtVvQt7A@bqccporc
REDIS_URL=redis://default:7BY7wg8J4KsGP5xeMyCBaJ606at5IxzG@giants-sprout-microglossy-30508.db.redis.io:19452
JWT_SECRET=default-secret-key
JWT_EXPIRES_IN=24h
CLIENT_URL=http://localhost:3000
PORT=5000
NODE_ENV=development
